@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
    Layout = "_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3>Ocorreu um erro na solicitação.</h3>
        </div>
        <div class="panel-body">
            <h4>Contate o administrador do sistema.</h4>
            <br/>
            <div>
                <p>Controller: @Model.ControllerName</p>
                <p>Action: @Model.ActionName</p>
                <p>Exception: @Model.Exception.Message</p>
                <p>Inner Exception: @(Model.Exception.InnerException != null ? @Model.Exception.InnerException.Message : "null")</p>
            </div>
        </div>
    </div>
</div>
